<h1>All My Lists</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Length</th>
  </tr>
 
  <% @lists.each do |list| %>
    <tr>
      <td><%= list.name %></td>
      <td>placeholder</td>
      <td><%= link_to 'Show', list_path(list) %></td>
    </tr>
  <% end %>
</table>