<li>
  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>
 
  <p>
    <strong>Pomodoro estimate:</strong>
    <%= todo.pomodoro_estimate %>
  </p>  

  <p>
    <strong>Complete:</strong>
    <%= todo.complete %>
  </p>
</li>